@model ReflectionIT.Mvc.Paging.PagingList<Test.Model.Artikel>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@*@model IEnumerable<Test.Model.Artikel>*@

@{

    ViewData["Title"] = "Artikel";
    Layout = "_Layout2";
}

<div class="container">
    <div class="row mar-bot40">
        <div class="col-md-12">
            <div class="section-header">
                <div class="row">
                    <h2 class="section-heading animated">@ViewData["Title"]</h2>
                    @foreach (var item in Model)
                    {
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <img src="~/uploads/img/@Html.DisplayFor(modelItem => item.ImageName)" class="cover" alt="...">
                                <div class="caption container2">
                                    <h3>@Html.DisplayFor(modelItem => item.Judul)</h3>
                                    <p>@Html.DisplayFor(modelItem => item.Deskripsi)</p>
                                </div>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" role="button">Read More</a>
                                <br />
                                <i class="fa fa-calendar"></i>  @Html.DisplayFor(modelItem => item.CreateAt),
                                Kategori :  <a asp-action="Kategori" asp-controller="Artikels" asp-route-id="@item.Kategori.ID"> @Html.DisplayFor(modelItem => item.Kategori.Nama)</a>
                            </div>
                        </div>
                    }
                </div>

                <nav aria-label="Suppliers navigation example">
                    <vc:pager paging-list="@Model" />
                </nav>
            </div>
        </div>
    </div>


</div>
